.container{
  width: 100%;
  padding-top: 16px;
}
  
  .update-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
  
  .create-post {
    padding: 20px;
    margin: 20px;
  }
  
  .your-posts h2 {
    text-align: center;
  }
  
  .post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    grid-gap: 10px;
    padding-top: 2%;
    padding-left: 13%;
    padding-right: 13%;
  }
  
  .image-form {
    margin-bottom: 5px;
  }
  
  .postModal p {
    text-align: center;
    padding-left: 6%;
  }
  
  #light {
    background-color: white;
  }
  
  #dark {
    background-color: aqua;
  }
  
  .hidden {
    display: none;
  }
  
  .show {
    display: flex;
  }
  