/* Profile Component */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create-post {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  /* NewPost Component */
  .post-form {
    margin-bottom: 20px;
  }
  
  .image-form {
    margin-bottom: 10px;
  }
  
  /* PostList Component */
  .post-list {
    width: 100%;
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  /* PostCard Component */
  .post-card {
    display: flex;
    flex-direction: column;
  }
  
  .post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }
  
  /* PostDetail Component */
  .post-detail-modalContainer {
    position: relative;
    width: 90%;
    max-width: 900px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    display: flex;
    padding: 20px;
    display: flex;
  }
  
  .post-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .post-detail-modalRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .post-detail-closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 16px;
    padding: 4px 8px;
  }
  
  .post-detail-content {
    margin-bottom: 20px;
  }
  
  .post-detail-update-button {
    display: flex;
    justify-content: flex-end;
  }
  