.navbar {
    background: #586ace;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 10;
  }
  
  .navbar-logo {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0;
    height: 100%;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-logo:hover {
    color: #23dff8;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1.5rem;
    height: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #23dff8;
  }
  
  .navbar-link.active {
    color: #23dff8;
  }
  
  .navbar-menu .navbar-link:not(:last-child) {
    margin-right: 1rem;
  }
  
  .navbar-logout {
    display: flex;
    align-items: center;
  }
  
  .navbar-logout-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .navbar-logout-btn:hover {
    color: #23dff8;
  }
  
  .navbar-logout-btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #23dff8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .navbar-logout-btn:hover:before {
    transform: scaleX(1);
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      justify-content: flex-start;
    }
  
    .navbar-logo {
      display: none;
    }
  
    .navbar-menu {
      display: none;
    }
  }
  